.dl-horizontal dd {
  margin-left: 90;
}

.dl-horizontal dt {
  width:auto;
}

.navbar-default .navbar-brand {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}