{% extends "base.html" %}
 
{% block content %}
 
<div class="user-registration">
  <div class="page-header" align="center">
    <h2>Log In</h2>
  </div>
    <form action="{{ url_for('login') }}" method="post" class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12">
    {{ form.csrf_token }}

      <p>{{ form.email(class_="form-control", size=20)}}</p>
      <p>{{ form.password(class_="form-control") }}</p>

    <button class="btn btn-sm btn-success" type="submit">Log In</button>
      <!-- <em>Need an account? </em><a href="mailto:[add_email]">Request one</a> -->
  </form>
</div>
 
{% endblock %}